<div class="collapse navbar-collapse" style="justify-content: end;" id="navbarNav">
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_account' %}">Moje konto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Wyloguj</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Zaloguj</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_user' %}">Zarejestruj</a>
            </li>
        {% endif %}
    </ul>
</div>